ecommerce/.git
ecommerce/.idea
ecommerce/.mvn
ecommerce/src/main/**/target/
ecommerce/src/test/**/target/
ecommerce/src/main/**/build/
ecommerce/src/test/**/build/
ecommerce/.vscode
ecommerce/target

ecommerceweb/.angular
ecommerceweb/.git
ecommerceweb/.idea
ecommerceweb/.vscode
ecommerceweb/node_modules
ecommerceweb/dist
ecommerceweb/README.md


