<div class="container container-div" [style.background-color]="'var(--colore-sfondo-principale)'" [style.color]="'var(--colore-testo-generale)'">

  <!-- Filtri e ordinamento -->
  <div class="filters-section container-div" [style.background-color]="'var(--colore-sfondo-sezione)'">

    <!-- PRIMA RIGA -->
    <nz-row nzGutter="16" nzJustify="center" nzAlign="middle" style="margin-bottom: 16px;">

        <!-- Barra di ricerca con checkbox -->
        <div nz-col nzSpan="30">
            <form nz-form [formGroup]="searchForm" class="filter-control" style="text-align: center; gap: 10px;">
                <input nz-input formControlName="name" 
                    placeHolder="Inserisci il nome del prodotto"
                    nzErrorTip="Inserisci il nome del prodotto!"  style="width: 75%;" />
                <button nz-button nzType="primary" 
                    (click)="searchProduct()">
                    Cerca
                </button>

                <label nz-checkbox *ngIf="isAdminLoggedIn"
                    formControlName="includeDisabled"
                    (ngModelChange)="onNameOrFilterOrPageSizeChange()"
                >
                    <span [style.color]="'var(--colore-testo-generale)'">Includi prodotti disabilitati</span>
                </label>
            </form>
        </div>

    </nz-row>


    <!-- SECONDA RIGA: 2 colonne per filtri -->
    <nz-row nzGutter="16" nzJustify="center" nzAlign="middle" style="margin-bottom: 16px;">

        <!-- Ordinamento -->
        <div nz-col nzSpan="8">
            <label nz-label [style.color]="'var(--colore-testo-generale)'">Ordina per:</label>
            <nz-select 
            class="filter-control"
            nzPlaceHolder="Ordina prodotti" 
            style="width: 100%" 
            [(ngModel)]="selectedSort"
            (ngModelChange)="onNameOrFilterOrPageSizeChange()">
            <nz-option 
                *ngFor="let option of sortOptions" 
                [nzValue]="option.value" 
                [nzLabel]="option.label">
            </nz-option>
            </nz-select>
        </div>

        <!-- Elementi per pagina -->
        <div nz-col nzSpan="6">
        <label nz-label [style.color]="'var(--colore-testo-generale)'">Elementi per pagina:</label>
        <nz-select 
            class="filter-control"
            style="width: 100%" 
            [(ngModel)]="pageSize"
            (ngModelChange)="onNameOrFilterOrPageSizeChange()">

            <nz-option [nzValue]="1" nzLabel="1"></nz-option>
            <nz-option [nzValue]="2" nzLabel="2"></nz-option>
            <nz-option [nzValue]="3" nzLabel="3"></nz-option>
            
            <nz-option [nzValue]="10" nzLabel="10"></nz-option>
            <nz-option [nzValue]="20" nzLabel="20"></nz-option>
            <nz-option [nzValue]="50" nzLabel="50"></nz-option>
            <nz-option [nzValue]="100" nzLabel="100"></nz-option>
        </nz-select>
        </div>


    
    </nz-row>


    <!-- TERZA RIGA: 2 colonne (Reset + Paginazione) -->  
    <nz-row nzGutter="16" nzJustify="center" nzAlign="middle" style="gap: 10px;">
    
        <!-- Filtro per categoria -->
        <div nz-col nzSpan="8">
            <label nz-label [style.color]="'var(--colore-testo-generale)'">Categoria:</label>
            <nz-select 
            class="filter-control"
            nzPlaceHolder="Seleziona categoria" 
            style="width: 100%" 
            [(ngModel)]="selectedCategory"
            (ngModelChange)="onNameOrFilterOrPageSizeChange()">
            <nz-option 
                *ngFor="let category of categoryOptions" 
                [nzValue]="category.value" 
                [nzLabel]="category.label">
            </nz-option>
            </nz-select>
        </div>

        <!-- Reset filtri -->
        <nz-col nzSpan="8">
            <button 
            class="filter-control"
            nz-button 
            nzType="default" 
            nzSize="large"
            style="width: 100%; margin-top: 17px;"
            (click)="resetFilters()">
            <i nz-icon nzType="reload"></i>
            Reset Filtri
            </button>
        </nz-col>

        <!-- Pulsanti di paginazione -->
        <nz-col [nzXs]="24" [nzSm]="12" [nzMd]="10" style="display: flex; justify-content: center; align-items: center; gap: 30px; flex-wrap: wrap; padding: 0 8px; min-width: 435px;">
            <button 
                nz-button 
                nzType="default" 
                [disabled]="currentPage === 1"
                (click)="goToPage(currentPage - 1)">
                <i nz-icon nzType="left"></i> Precedente
            </button>

            <div style="text-align: center;">
              <div style="font-weight: 500; white-space: nowrap;" [style.color]="'var(--colore-testo-generale)'">
                Pagina {{ currentPage }} di {{ totalPages }}
              </div>
              <div style="font-size: 14px; margin-top: 4px; white-space: nowrap;" [style.color]="'var(--colore-testo-paragrafo)'">
                Totale prodotti: {{ totalElements }}
              </div>
            </div>

            <button 
                nz-button 
                nzType="default" 
                [disabled]="currentPage === totalPages"
                (click)="goToPage(currentPage + 1)">
                Successiva <i nz-icon nzType="right"></i>
            </button>
        </nz-col>

    </nz-row>
  </div>






  <!-- Messaggio quando non ci sono prodotti -->
  <div *ngIf="searchDone && products.length === 0" class="no-products" [style.background-color]="'var(--colore-sfondo-container)'">
    <h3 *ngIf="selectedCategory === -1" [style.color]="'var(--colore-testo-intestazione)'">Nessun prodotto disponibile</h3>
    <h3 *ngIf="selectedCategory !== -1" [style.color]="'var(--colore-testo-intestazione)'">Nessun prodotto nella categoria selezionata</h3>
    <p [style.color]="'var(--colore-testo-paragrafo)'">Non ci sono prodotti che corrispondono al nome che hai cercato!</p>
  </div>






 









  <!-- Griglia prodotti -->
  <div class="product-grid container-div">
    <div class="child" *ngFor="let product of products" [style.background-color]="'var(--colore-sfondo-card)'"> 

      <div nz-row> 
        <div nz-col nzSpan="8"> 
          <img class="profile" [src]="product.image" alt="immagine_prodotto" />
        </div> 
        
        <div nz-col nzSpan="16"> 
          <h2 [style.color]="'var(--colore-testo-intestazione)'"> {{ product.name }} </h2> 
          <!-- Se la descrizione è null mette di default una stringa vuota; 
               riduco la descrizione ai soli primi 65 caratteri, se la
               descrizione ha delle parole che sono state troncate aggiunge ... -->
          <p [style.color]="'var(--colore-testo-paragrafo)'">{{ (product.description || '').substring(0, 65) + (product.description?.length > 65 ? '...' : '') }}</p>
          
          <hr />  <!-- barra orizzontale -->

          <!-- ADMIN -->
          <h5 *ngIf="isAdminLoggedIn" [style.color]="'var(--colore-testo-paragrafo)'"> 
            Prezzo: <b class="price">{{ product.price }}€</b> - 
            Categoria: <b class="category">{{ product.categoryName }}</b>  -
            Stato: <b class="status">{{ product.disabled ? 'disabilitato' : 'abilitato' }}</b>
          </h5> 

          <!-- USER E UTENTE NON LOGGATO-->
          <h5 *ngIf="!isAdminLoggedIn" [style.color]="'var(--colore-testo-paragrafo)'"> 
            Prezzo: <b class="price">{{ product.price }}€</b> - 
            Categoria: <b class="category">{{ product.categoryName }}</b>
          </h5> 

          <hr /> 



           <!-- tasti "Modifica", "Disabilita" ed "Elimina" SOLO per ADMIN -->
          <div style="float: right" *ngIf="isAdminLoggedIn"> 
            <button style="margin-left: 10px; margin-bottom: 6px;" nzSize="small" nz-button nzType="primary" routerLink="/admin/update-product/{{product.id}}"> 
              Modifica 
            </button> 

            <button *ngIf="product.disabled" style="margin-left: 10px; margin-bottom: 6px;" nzSize="small" nz-button nzType="primary" (click)="enableProduct(product.id)"> 
              Abilita
            </button> 

            <button *ngIf="!product.disabled" style="margin-left: 10px; margin-bottom: 6px;" nzSize="small" nz-button nzType="primary" (click)="disableProduct(product.id)"> 
              Disabilita
            </button> 

            <!-- nzDanger: colore rosso -->
            <button style="margin-left: 10px" nzSize="small" nz-button nzType="primary" nzDanger (click)="deleteProduct(product.id)"> 
              Elimina 
            </button> 
          </div>

          <!-- tasti "Aggiungi/Rimuovi al carrello/lista desideri" solo per USER -->
          <div style="float: right;" *ngIf="isUserLoggedIn"> 
            <button class="aggiungi-carrello-button" class="aggiungi-lista-desideri-button" *ngIf="!isInListaDesideri(product.id)" style="margin-left: 10px; margin-bottom: 6px;" nzSize="small" 
              nz-button nzType="primary" (click)="aggiungiAllaListaDesideri(product.id)"> 
              Aggiungi alla lista desideri
            </button> 

            <button *ngIf="isInListaDesideri(product.id)" style="margin-left: 10px; margin-bottom: 6px;" nzSize="small" 
              nz-button nzType="primary" nzDanger (click)="rimuoviDallaListaDesideri(product.id)"> 
              Rimuovi dalla lista desideri
            </button> 

            <button class="aggiungi-carrello-button" *ngIf="!isInCart(product.id)" style="margin-left: 10px" nzSize="small" 
              nz-button nzType="primary" (click)="aggiungiAlCarrello(product.id)"> 
              Aggiungi al carrello 
            </button> 

            <button *ngIf="isInCart(product.id)" style="margin-left: 10px" nzSize="small" 
              nz-button nzType="primary" nzDanger (click)="rimuoviDalCarrello(product.id)"> 
              Rimuovi dal carrello
            </button> 
          </div>

          <!-- tasto "Aggiungi al carrello" con messaggio di errore per utenti non loggati -->
          <div style="float: right" *ngIf="!isAdminLoggedIn && !isUserLoggedIn"> 
            <button class="aggiungi-carrello-button" *ngIf="!isInCart(product.id)" style="margin-left: 10px" nzSize="small" 
              nz-button nzType="primary" (click)="erroreUtenteNonLoggato()"> 
              Aggiungi al carrello 
            </button> 
          </div>



        </div> 
      </div> 
    </div> 
  </div>

</div>

