/* Footer */
.footer {
  background-color: var(--sfondoNavbarFooter);
  color: white;
  padding: 0px 0px 15px 0px; /* top right bottom left */
}

.container {
  width: 100%; /* Rende il footer larga quanto la finestra */
  min-width: 350px;
}

.footer-bottom {
  text-align: center;
  padding-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
